[Unit]
Description=Resize root filesystem on first boot
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/resizeRootfs.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
