[Unit]
Description=Resize root filesystem on first boot
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/sbin/resize2fs /dev/mmcblk1p2
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
